// Styles for this guide

body {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  .iphone6-container {
    width: 375px;
  }

  header {
    margin-bottom: 3rem;
    .title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  .description {
    color: #AAA;
  }
  .component {
    margin-bottom: 3rem;
  }
}
